#section-reviews {
    background-image: url("../images/IMG_0416.png");
    background-size: cover;
}

#section-reviews blockquote,
#section-reviews h1 {
    color: white;
}

.translucent-bg {
    background-color: rgba(50, 50, 50, .5);
}