h1 {
	text-transform: uppercase;
}

.text-div {
	/*padding: 40px;*/
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.fa {
	vertical-align: middle;
}

.contact-info {
	padding: 0 30px;
}

a, a:hover, a:focus {
	text-decoration: none;
}