html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 3vh;
}

.text-div {
    padding-top: 10vh;
    padding-bottom: 10vh;
    color: #30353B;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.fa {
    vertical-align: middle;
}

.contact-info {
    padding: 0 30px;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a,
a:visited {
    color: #30353B;
}

a:hover,
a:focus {
    color: #B94847;
}


/* CAROUSEL */

#carouselExampleIndicators {
    height: 90vh;
    /* background-image: url('../images/small.png');
    background-repeat: no-repeat; */
    position: relative;
}

#sticky-logo {
    display: flex;
    justify-content: center;
}

#sticky-logo>img {
    position: absolute;
    z-index: 999;
    /* display: block;
    position: absolute;
    margin: 0 auto; */
    margin-top: 150px;
}

.carousel-item>img {
    width: 100%;
    height: 100%;
}


/* ABOUT */

#section-about,
#section-social,
#section-contact {
    background-image: url("../images/concrete_seamless.png");
    background-repeat: repeat;
}

.parallax {
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.category-name {
    text-transform: capitalize;
}


/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}