h1 {
    text-transform: uppercase;
    margin-bottom: 3vh;
}

.text-div {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.fa {
    vertical-align: middle;
}

.contact-info {
    padding: 0 30px;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color:#b94847;
}

a {
	color: black;
}

a:hover,a:focus {
	color: color:#b94847;;
}

#carouselExampleIndicators {
    height: 90vh;
}

/* ABOUT */

#section-about {
	background-image: url("../images/halftone.png");
	background-repeat: repeat;
}